.curseclient
TrashSlotSaveState.json
command_history.txt
crash-reports/
data/
datapacks/
defaultconfigs/
downloads/
git-add-nes.bat
journeymap/
local/
logs/
minecraftinstance.json
mods/
options.txt
patchouli_data.json
resourcepacks/
saves/
user-prefs.json
usercache.json
usernamecache.json
waypoints/
moddata/
patchouli_data/
patchouli_books/
schematics/
shaderpacks/
.curseclient/
command_history/
servers.dat
servers.dat_old
